<section class="section-favoritos">
    <div class="div-titulo">
        <h2>MIS PELICULAS FAVORITAS</h2>
    </div>

    @if (favoritosService.cargando()) {
        <p class="mensaje-favoritos">Cargando Favoritos...</p>
    } @else if (favoritos().length === 0) {
        <p class="mensaje-favoritos">No tienes Favoritos</p>
    } @else {
        <div class="div-favoritos">
            @for (fav of favoritos(); track fav.id) {
                <div class="card-favorito">
                    <img
                    class="img-favorito"
                    [src]="fav.peliculas?.img_url ?? ''"
                    [alt]="fav.peliculas?.pelicula_titulo">

                    <div class="info-favorito">
                        <h3>{{ fav.peliculas?.pelicula_titulo }}</h3>

                        @if (editandoId !== fav.id) {
                            <div class="modo-vista">
                                <strong>Mi nota: {{ fav.nota || 'sin nota' }}</strong>
                                <div class="botones-favorito">
                                    <button (click)="iniciarEdicion(fav)">Iniciar Edicion</button>
                                    <button (click)="eliminar(fav.id!)">Eliminar De Favoritos</button>
                                </div>
                            </div>
                        } @else {
                            <div class="modo-edicion">
                                <input [formControl]="notaControl" placeholder="Escribe algo de la película">
                                <div class="botones-favorito">
                                    <button (click)="guardarNota(fav.id!)">Guardar</button>
                                    <button (click)="cancelarEdicion()">Cancelar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</section>
