<section class="section-header">
    <nav class="nav-header">
        <div class="div-header-izquierda">
            <a id="nombre-cine" routerLink="/home" routerLinkActive="active">CineKwak</a>
        </div>
        <div class="div-header-derecha">
            @if (authService.currentUserData()?.rol === 'admin') {
                <a routerLink="/admin-usuarios">Admin Usuarios</a>
                <a routerLink="/admin-config">Admin Config</a>
                <a routerLink="/add-pelicula">Agregar Pelicula</a>
                <a routerLink="/add-funcion">Agregar Funcion</a>
                <a routerLink="/add-candy">Agregar Candy</a>
            }
            @if (authService.currentUserData()?.rol === 'empleado'){
                <a routerLink="/validar-entrada">Validar Entrada</a>
            }
            <a routerLink="/home" routerLinkActive="active">Inicio</a>
            <a routerLink="/candy" routerLinkActive="active">Candy</a> 
            @if (authService.currentUser()) {
                <a routerLink="/perfil" routerLinkActive="active">Perfil</a>
                <a href="#" (click)="logout(); $event.preventDefault()">Cerrar sesion</a>
            } @else {
                <a routerLink="/login">Iniciar sesion</a>
            }
        </div>
    </nav>
</section>