<div class="contenedor-div-register">
    <div>
        <h2>Registrarse</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div>
                <label>Correo Electronico</label>
                <input id="email" type="email" formControlName="email">
            </div>
            <div>
                <label>Contraseña</label>
                <input id="password" type="password" formControlName="password" >
            </div>
            <div>
                <label>Nombre</label>
                <input id="nombre" type="text" formControlName="nombre">
            </div>
            <div>
                <label>Apellido</label>
                <input id="apellido" type="text" formControlName="apellido">
            </div>
            <div>
                <label>Fecha de Nacimiento</label>
                <input id="fechaDeNacimiento" type="date" formControlName="fechaDeNacimiento">
            </div>
            <div>
                <label for="colorDeOjos">Color de Ojos</label>

                <select
                    id="colorDeOjos"
                    formControlName="colorDeOjos"
                    [class.input-error]="f.colorDeOjos.invalid && f.colorDeOjos.touched">

                    <option value="" disabled>Seleccioná un color</option>

                    @for (color of colorDeOjos; track color) {
                        <option [value]="color">{{ color }}</option>
                    }
                </select>

                @if (f.colorDeOjos.touched && f.colorDeOjos.invalid) {
                    <div>
                        @if (f.colorDeOjos.hasError('required')) {
                            <small>El color de ojos es obligatorio</small>
                        }
                    </div>
                }
            </div>

            <div>
                <label for="tipoDeSangre">Tipo de Sangre</label>

                <select
                    id="tipoDeSangre"
                    formControlName="tipoDeSangre"
                    [class.input-error]="f.tipoDeSangre.invalid && f.tipoDeSangre.touched">

                    <option value="" disabled>Seleccioná un tipo de sangre</option>

                    @for (tipo of tipoDeSangre; track tipo) {
                        <option [value]="tipo">{{ tipo }}</option>
                    }
                </select>

                @if (f.tipoDeSangre.touched && f.tipoDeSangre.invalid) {
                    <div>
                        @if (f.tipoDeSangre.hasError('required')) {
                            <small>El tipo de sangre es obligatorio</small>
                        }
                    </div>
                }
            </div>


            <div>
                <label>Vacaciones por año</label>
                <input id="vacacionesPorAnio" type="number" formControlName="vacacionesPorAnio">
            </div>

            @if(errorMessage()){
                <div>{{errorMessage()}}</div>
            }

            @if (succesMessage()) {
                <div>{{ succesMessage() }}</div>
            }       

            <button type="submit" [disabled]="registerForm.invalid || isLoading()">
                {{isLoading() ? 'Registrando' : 'Registrarse'}}
            </button>

            <p>¿Ya tenes una cuenta?
                <a routerLink="/login">Toca aca</a>
            </p>
        </form>
    </div>
</div>
