.section-home {
    width: 100%;
    padding: 40px 0 60px;

    font-family: Arial, Helvetica, sans-serif;

    display: block;
}

.div-titulo {
    width: 90%;
    max-width: 1400px;

    margin: 0 auto 70px;

    display: block;
}

.div-titulo h1 {
    display: block;
    width: 100%;

    margin: 0 0 30px;

    text-align: center;

    font-size: 28px;
    font-weight: bold;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: white;
}

/* CONTENEDOR DE PELÍCULAS */

.div-mas-populares {
    display: grid;
    height: 600px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.div-cartelera,
.div-preventa {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}

/* Cada tarjeta */

app-pelicula-card {
    display: block;
}

/* Responsive */

@media (max-width: 1000px) {
    .div-mas-populares,
    .div-cartelera,
    .div-preventa {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 750px) {
    .div-mas-populares,
    .div-cartelera,
    .div-preventa {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 550px) {
    .div-mas-populares,
    .div-cartelera,
    .div-preventa {
        grid-template-columns: repeat(2, 1fr);
    }
}