<section class="section-candy">
    <div class="div-titulo">
        <h2>COMBOS</h2>
        <div class="div-combos">
            @for (candy of candy(); track candy.candy_id) {
                @if (candy.tipo_candy === "Combo") {
                    <app-candy-card
                        [candy]="candy"
                        (cantidadCambiada)="cambiarCantidad(candy.candy_id, $event)"
                    ></app-candy-card>
                }
            }
        </div>
    </div>

    <div class="div-titulo">
        <h2>POCHOCLOS</h2>
        <div class="div-pochoclos">
            @for (candy of candy(); track candy.candy_id) {
                @if (candy.tipo_candy === "Pochoclo") {
                    <app-candy-card
                        [candy]="candy"
                        (cantidadCambiada)="cambiarCantidad(candy.candy_id, $event)"
                    ></app-candy-card>
                }
            }
        </div>
    </div>

    <div class="div-titulo">
        <h2>BEBIDAS</h2>
        <div class="div-bebidas">
            @for (candy of candy(); track candy.candy_id) {
                @if (candy.tipo_candy === "Bebidas") {
                    <app-candy-card
                        [candy]="candy"
                        (cantidadCambiada)="cambiarCantidad(candy.candy_id, $event)"
                    ></app-candy-card>
                }
            }
        </div>
    </div>

    <div class="div-titulo">
        <h2>SNACKS</h2>
        <div class="div-snacks">
            @for (candy of candy(); track candy.candy_id) {
                @if (candy.tipo_candy === "Snacks") {
                    <app-candy-card
                        [candy]="candy"
                        (cantidadCambiada)="cambiarCantidad(candy.candy_id, $event)"
                    ></app-candy-card>
                }
            }
        </div>
    </div>

    <div class="contenedor-continuar">
        <button
            type="button"
            class="btn-continuar"
            (click)="continuar()"
        >
            Continuar
        </button>
    </div>
</section>